- var validatorStyle = {border: '0', width:'88px', height:'31px'};
div#validator
  a(href='http://validator.w3.org/check?uri=referer')
    img(style=validatorStyle
    src='http://www.tropicalteachers.com/web/images/valid_html5.gif'
    alt='Valid HTML5')
  a(href='http://jigsaw.w3.org/css-validator/check/referer')
    img(style=validatorStyle
    src='http://jigsaw.w3.org/css-validator/images/vcss'
    alt='Valid CSS')
